@import "./common/variables.scss";
@import "./mixins/mixin.scss";

@include b(button){ //u-button
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  border-radius:3px ;
  font-size: 14px;
  outline: none;
  border: #f1f1f1;
  user-select: none;
  padding: 0 20px;
  line-height: 16px;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
  vertical-align: middle;

  span{
    white-space: nowrap;
  }

  & [class*="u-icon-"]{
    &+span{
      vertical-align: middle;
      margin-left: 5px;
    }
  }

  @include when(disabled){
    cursor: not-allowed;
    opacity: .6;
  }

  @include when(loading){
    pointer-events: none;
    opacity: .6;
  }

  @include when(circle){
    border-radius:50%;
    padding: 5px 9px;
  }



  @include m(primary){
    transition: opacity .3s ease-in-out;
     &:not(.is-disabled){
    &:hover{
      opacity: .8;
    }
  }
    @include button-type($--color-white,$--color-primary,$--color-primary)
  }

  @include m(success){
     transition: opacity .3s ease-in-out;
    &:not(.is-disabled){
    &:hover{
        opacity: .8;
      } 
    }
    @include button-type($--color-white,$--color-success,$--color-success)
  }

  @include m(danger){
     transition: opacity .3s ease-in-out;
    @include button-type($--color-white,$--color-danger,$--color-danger)
  }

  @include m(warning){
    transition: opacity .3s ease-in-out;
    &:hover{
      opacity: .6;
    }
    @include button-type($--color-white,$--color-warning,$--color-warning)
  }

  @include m(secondary){
    color:$grey-8 ;
    background-color: #f2f3f5;
    transition: background-color .3s ease-in-out;
    &:not(.is-disabled){
       &:hover{
        background-color: #e5e6eb;
      }
    }
  

     &.u-button--success{
      background-color: #e8ffea;
      color:#4dcd6a;
      &:not(.is-disabled){
      &:hover{
       background-color: #aff0b5;
      }
    }
    }

    &.u-button--danger{
      background-color: #feece8;
      color:#f64c4c;
      border-color: #f64c4c;
      &:not(.is-disabled){
      &:hover{
        background-color: #fccdc5;
      }
    }
    }

    &.u-button--warning {
      background-color: #fff7e8;
      color:#fb9e41;
      border-color: #fb9e41;
      &:not(.is-disabled){
      &:hover{
       background-color: #fee4ba;
      }
    }
    }
  }

  @include m(dashed){
    border: 1px dashed;
    background-color: transparent;
    color:$grey-8;
    background-color: #f2f3f5;
    border-color: $grey-3;
    transition: background-color .3s ease-in-out;
    &:not(.is-disabled){
    &:hover{
      background-color: #e5e6eb;
    }
  }

    &.u-button--success{
      background-color: #e8ffea;
      color:#30ba38;
      border-color: #30ba38;
      &:not(.is-disabled){
      &:hover{
       background-color: #aff0b5;
      }
    }
    }

    &.u-button--danger{
      background-color: #feece8;
      color:#f64c4c;
      border-color: #f64c4c;
      &:not(.is-disabled){
       &:hover{
        background-color: #fccdc5;
      }
    }
    }

    &.u-button--warning {
      background-color: #fff7e8;
      color:#fb9e41;
      border-color: #fb9e41;
      &:not(.is-disabled){
      &:hover{
       background-color: #fee4ba;
      }
    }
    }
  }

  @include m(outline){
    border: 1px solid $--color-primary;
    color:$--color-primary;
    background-color: transparent;

    &.u-button--success{
      color:#30ba38;
      border:1px solid #30ba38;
    }

    &.u-button--danger{
      color:#f64c4c;
      border-color: #f64c4c;
    }

    &.u-button--warning {
      color:#fb9e41;
      border-color: #fb9e41;
    }
  }

  @include m(text){
    color:$--color-primary;
    background-color: transparent;

    &.u-button--success{
      color:#30ba38;
    }

    &.u-button--danger{
      color:#f64c4c;
    }

    &.u-button--warning {
      color:#fb9e41;
      border-color: #fb9e41;
    }
  }

  @include m(small){
    padding: 0 11px;
    font-size: 12px;
    height: 24px;

    & [class*="u-icon-"]{
      font-size: 12px;
    }
  }

  @include m(large){
    height:36px;
    & [class*="u-icon-"]{
        font-size: 14px;
    }
  }

  @include m(default){
    height:32px;
    & [class*="u-icon-"]{
      font-size: 14px;
    }
  }
}
