@import "./common/variables.scss";
@import "./mixins/mixin.scss";
@import "./date-picker-range.scss";

@include b(date-picker){
  display: inline-block;
  .u-icon-calendar{
    font-size: 16px;
  }

  @include e(panel){
    background-color: #fff;
    width: 250px;
    border: 1px solid $grey-3;
    border-radius: 3px;
    top:35px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);

    .panel__nav{
      display: flex;
      justify-content: space-around;
      padding: 5px 20px;
      align-items: center;
      border-bottom: 1px solid $grey-3;
      font-size: 14px;
      user-select: none;

      .nav-month,
      .nav-year
      {
        padding: 0 5px;
        cursor: pointer;
        border-radius: 4px;

        &:hover{
          background-color: $grey-3;
        }
      }

      i{
        font-size: 14px;
        cursor: pointer;
        margin: 0 5px;
        &:hover{
          color:$--color-primary;
        }
      }
    }
  
    .panel__content{
      padding:0 5px;

      span{
        display: inline-flex;
        justify-content: center;
        user-select: none;
        align-items: center;
        border-radius: 2px;
        margin: 5px;
      }

      .year-cell,.month-cell {
        height: 50px;
        width: 69px;
        position: relative;
        cursor: pointer;
        transition: background-color .2s ease-in-out;

        @include when(current-month){
          &::before{
            width: 4px;
            height: 4px;
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            right: 2px;
            border-radius: 50%;
            background-color: $--color-primary;
          }
        }

        @include when(select-month){
          background-color: $--color-primary;
          color:#fff;


        @include when(current-month){
          &::before{
            width: 4px;
            height: 4px;
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            right: 2px;
            border-radius: 50%;
            background-color: #fff;
          }
         }
        }

        &.not-current-month{
          color:$grey-3;
        }

        
        @include when(current-year){
          &::before{
            width: 4px;
            height: 4px;
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            right: 2px;
            border-radius: 50%;
            background-color: $--color-primary;
          }
        }

        @include when(select-year){
          background-color: $--color-primary;
          color:#fff;


        @include when(current-year){
          &::before{
            width: 4px;
            height: 4px;
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            right: 2px;
            border-radius: 50%;
            background-color: #fff;
          }
         }
        }

        &.not-current-year{
          color:$grey-3;
        }

        &:not(.is-select-year){
          &:not(.not-current-year){
            &:not(.is-select-month){
            &:hover{
             background-color: $grey-3;
           }
          }
          }
        }
      }

      .cell{
        height: 24px;
        width: 24px;
        font-size: 14px;
        position: relative;
        cursor: pointer;
        transition: background-color .2s ease-in-out;
        box-sizing: content-box;

       &.day-cell{
        &:not(.not-current-month){
         &:not(.is-select){
           &:not(.is-cell-start){
             &:not(.is-cell-end){
                &:hover{
                  background-color: $grey-3;
                }
             }
           }
         }
        }
       }

       @include when(select){
         background-color: $--color-primary;
         color:#fff;
       }

        @include when(cell-start){
         margin: 3px 0px;
         padding: 2px 5px;
         background-color: $--color-primary;
         color:#fff;
       }

        @include when(cell-end){
            &:not(.not-current-month){
              margin: 3px 0px;
              padding: 2px 5px;
              background-color: $--color-primary;
              color:#fff;
            }
       }

       @include when(cell-move){
         &:not(.not-current-month){
          margin: 5px 0px;
          padding: 0px 5px;
          background-color:#e8f3ff ;
          border-radius: 0px;
         }
       }

        @include when(today){
          &::before{
            width: 4px;
            height: 4px;
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            right: 2px;
            border-radius: 50%;
            background-color: $--color-primary;
          }

          &.is-select{
            &::before{
              width: 4px;
              height: 4px;
              content: '';
              display: block;
              position: absolute;
              top: 2px;
              right: 2px;
              border-radius: 50%;
              background-color: #fff;
            }
          }
        }

        &.not-current-month{
          color:$grey-3;
        }

      }
    }

    .panel__footer{
      border-top: 1px solid $grey-3;
      min-height: 35px;
      button{
        margin: 5px;
        float: right;
      }
    }
  }
}

// zoom-fade
.zoom-fade-top-enter-active,
.zoom-fade-top-leave-active {
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: bottom;
}

.zoom-fade-top-enter-from {
  transform: scaleY(0.92);
}

.zoom-fade-top-leave-to {
  transform: scaleY(.62);
}

.zoom-fade-bottom-enter-active,
.zoom-fade-bottom-leave-active {
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: top;
}

.zoom-fade-bottom-enter-from {
  transform: scaleY(0.92);
}

.zoom-fade-bottom-leave-to {
  transform: scaleY(.62);
}


@include b(picker-wrapper){
  position: absolute;
  top:500px;
  z-index: 1000;
}
