@import "./common/variables.scss";
@import "./mixins/mixin.scss";

.range-input__wrapper{
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f3f5;
  cursor: pointer;

  .u-input{
    .u-input__input{
      width: 125px;
      text-align: center;
    }
  }
}

@include b(date-picker-range){
  display: inline-flex;

  .u-date-picker__panel{
    box-shadow: none;
  }

  .u-date-picker__panel:last-child{
    margin-left: -5px;
    border-left: none;
  }
}
