@import "./common/variables.scss";
@import "./mixins/mixin.scss";


@include b(form){
  @include when(vertical){
    .u-form-item__label{
      display: block;
    }
  }

  @include when(inline){
    display: flex;
  }
}

@include b(form-item){
  margin:0px 5px;
  
  .u-form-item--content{
    display: inline-flex;
    flex-direction: column;
  }

  .u-form-item__label{
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    line-height: 32px;

    span{
      color:$red-6;
      margin-right: 5px;
    }
  }

  .u-form-item--error{
    height: 22px;
    line-height: 22px;
    color:$red-6;
    p{
      margin: 0px;
      font-size: 14px;
    }
  }
}
