@import "./common/variables.scss";
@import "./mixins/mixin.scss";


@include b(form){
  @include when(vertical){
    .u-form-item__label{
      display: block;
    }
  }

  @include when(inline){
    display: flex;
  }
}

@include b(form-item){
  margin:0px 5px;
  
  .u-form-item__content{
    display: inline-flex;
    flex-direction: column;
  }

  .u-form-item__label{
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    line-height: 32px;

    span{
      color:$red-6;
      margin-right: 5px;
    }
  }

  .u-form-item--error{
    height: 22px;
    line-height: 22px;
    color:$red-6;
    p{
      margin: 0px;
      font-size: 14px;
    }
  }
}


.zoom-fade-error-enter-active,
.zoom-fade-error-leave-active {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 0% 0%;
}

.zoom-fade-error-enter-from {
  opacity: 0;
  transform: scale(0.1);
}

.zoom-fade-error-leave-to {
  opacity: 0;
  transform: scale(.3);
}
