@import "./common/variables.scss";
@font-face {
  font-family: "u-ui-icons"; /* Project id 3301718 */
  src: url('./fonts/iconfont.woff2?t=1649073166340') format('woff2'),
       url('./fonts/iconfont.woff?t=1649073166340') format('woff'),
       url('./fonts/iconfont.ttf?t=1649073166340') format('truetype');
}

[class^="#{$namespace}icon-"] {
  font-family: "u-ui-icons" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-icon-jiahao:before {
  content: "\eaf3";
}

.u-icon-jianhao:before {
  content: "\eaf5";
}

.u-icon-success:before {
  content: "\e65c";
}

.u-icon-loading:before {
  content: "\e8fd";
}

.u-icon-user:before {
  content: "\e68e";
}

.u-icon-arrowdown:before {
  content: "\e692";
}

.u-icon-arrowup:before {
  content: "\e695";
}

.u-icon-arrow-left:before {
  content: "\e743";
}

.u-icon-arrow-right:before {
  content: "\e665";
}

.u-icon-arrow-double-left:before {
  content: "\e666";
}

.u-icon-arrow-double-right:before {
  content: "\e667";
}

.u-icon-setting:before {
  content: "\e67d";
}


@keyframes roate{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

.#{$namespace}icon-loading{
  display: inline-block;
  animation:roate 1.5s linear infinite;
}
