@import "./common/variables.scss";
@import "./mixins/mixin.scss";

@include b(message){
  position: fixed;
  top: 20px;
  left:calc(50% - 150px);
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  background-color: #fff;
  min-width: 300px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin:auto;
  transition: all .3s ease-in-out;

  @include m(info){
    i{
      background-color:$blue-6 ;
    }
  }

   @include m(success){
    i{
      background-color:$--color-success ;
    }
  }

  @include m(error){
    i{
      background-color:$--color-danger ;
    }
  }

  @include m(warning){
    i{
      background-color:$--color-warning ;
    }
  }

  i{
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
    color:#fff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
  }
}


.zoom-fade-enter-from {
  opacity: 0;
  transform: scale(0.92) translateY(0);
}

.zoom-fade-leave-to {
  opacity: 0;
  transform: scale(1.06);
}

.fade-transform-leave-active,
.fade-transform-enter-active{
  transform: scale(1.06);
    transition: all 0.3s;
}



