@import "./common/variables.scss";
@import "./mixins/mixin.scss";

@include b(popover-node) {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  background-color: #fff;
  position: absolute;
  border-radius: 4px;
  z-index: 9999;
  border: 1px solid $grey-3;

  &.is-placement-top {
    .popover-node__arrow {
      position: absolute;
      transform: rotate(45deg);
      bottom: -5px;
      left: calc(50% - 10px);
      margin-left: 1px;
      width: 8px;
      height: 8px;
      border: 1px solid $grey-3;
      border-top: none;
      border-left: none;
    }
  }

  &.is-placement-left {
    .popover-node__arrow {
      position: absolute;
      transform: rotate(45deg) translateY(-50%);
      right: -2px;
      top: 50%;
      width: 8px;
      height: 8px;
      border: 1px solid $grey-3;
      border-bottom: none;
      border-left: none;
    }
  }

  &.is-placement-right {
    .popover-node__arrow {
      position: absolute;
      transform: rotate(45deg) translateY(-50%);
      top: 50%;
      left: -8px;
      width: 8px;
      height: 8px;
      border: 1px solid $grey-3;
      border-top: none;
      border-right: none;
    }
  }

  &.is-placement-rt {
    .popover-node__arrow {
      position: absolute;
      transform: rotate(45deg);
      top: 10px;
      left: -5px;
      width: 8px;
      height: 8px;
      border: 1px solid $grey-3;
      border-top: none;
      border-right: none;
    }
  }

  &.is-placement-rb {
    .popover-node__arrow {
      position: absolute;
      transform: rotate(45deg);
      bottom: 10px;
      left: -5px;
      width: 8px;
      height: 8px;
      border: 1px solid $grey-3;
      border-top: none;
      border-right: none;
    }
  }

  &.is-placement-bottom {
    .popover-node__arrow {
      position: absolute;
      transform: rotate(45deg) translateX(-50%);
      top: -2px;
      left: 50%;
      width: 8px;
      height: 8px;
      border: 1px solid $grey-3;
      border-right: none;
      border-bottom: none;
      z-index: 0;
    }
  }

  &.is-placement-bl {
    .popover-node__arrow {
      position: absolute;
      transform: rotate(45deg);
      top: -5px;
      left: 10px;
      width: 8px;
      height: 8px;
      border: 1px solid $grey-3;
      border-right: none;
      border-bottom: none;
      z-index: 0;
    }
  }

  &.is-placement-br {
    .popover-node__arrow {
      position: absolute;
      transform: rotate(45deg);
      top: -5px;
      right: 10px;
      width: 8px;
      height: 8px;
      border: 1px solid $grey-3;
      border-right: none;
      border-bottom: none;
      z-index: 0;
    }
  }

  &.is-placement-tl {
    .popover-node__arrow {
      position: absolute;
      transform: rotate(45deg);
      bottom: -5px;
      left: 10px;
      margin-left: 1px;
      width: 8px;
      height: 8px;
      border: 1px solid $grey-3;
      border-top: none;
      border-left: none;
    }
  }

  &.is-placement-tr {
    .popover-node__arrow {
      position: absolute;
      transform: rotate(45deg);
      bottom: -5px;
      right: 10px;
      margin-left: 1px;
      width: 8px;
      height: 8px;
      border: 1px solid $grey-3;
      border-top: none;
      border-left: none;
    }
  }

  &.is-placement-lt {
    .popover-node__arrow {
      position: absolute;
      transform: rotate(45deg);
      right: -5px;
      top: 10px;
      width: 8px;
      height: 8px;
      border: 1px solid $grey-3;
      border-bottom: none;
      border-left: none;
    }
  }

  &.is-placement-lb {
    .popover-node__arrow {
      position: absolute;
      transform: rotate(45deg);
      right: -5px;
      bottom: 10px;
      width: 8px;
      height: 8px;
      border: 1px solid $grey-3;
      border-bottom: none;
      border-left: none;
    }
  }


}

.zoom-fade-top-enter-active,
.zoom-fade-top-leave-active {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 50% 100%;
}

.zoom-fade-top-enter-from {
  opacity: 0;
  transform: scale(0.1);
}

.zoom-fade-top-leave-to {
  opacity: 0;
  transform: scale(.3);
}


.zoom-fade-tr-enter-active,
.zoom-fade-tr-leave-active {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 100% 100%;
}

.zoom-fade-tr-enter-from {
  opacity: 0;
  transform: scale(0.1);
}

.zoom-fade-tr-leave-to {
  opacity: 0;
  transform: scale(.3);
}



.zoom-fade-tl-enter-active,
.zoom-fade-tl-leave-active {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 0% 100%;
}

.zoom-fade-tl-enter-from {
  opacity: 0;
  transform: scale(0.1);
}

.zoom-fade-tl-leave-to {
  opacity: 0;
  transform: scale(.3);
}


.zoom-fade-lt-enter-active,
.zoom-fade-lt-leave-active {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 100% 0%;
}

.zoom-fade-lt-enter-from {
  opacity: 0;
  transform: scale(0.1);
}

.zoom-fade-lt-leave-to {
  opacity: 0;
  transform: scale(.3);
}

.zoom-fade-left-enter-active,
.zoom-fade-left-leave-active {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 100% 50%;
}

.zoom-fade-left-enter-from {
  opacity: 0;
  transform: scale(0.1);
}

.zoom-fade-left-leave-to {
  opacity: 0;
  transform: scale(.3);
}


.zoom-fade-lb-enter-active,
.zoom-fade-lb-leave-active {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 100% 100%;
}

.zoom-fade-lb-enter-from {
  opacity: 0;
  transform: scale(0.1);
}

.zoom-fade-lb-leave-to {
  opacity: 0;
  transform: scale(.3);
}


.zoom-fade-rt-enter-active,
.zoom-fade-rt-leave-active {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 0% 0%;
}

.zoom-fade-rt-enter-from {
  opacity: 0;
  transform: scale(0.1);
}

.zoom-fade-rt-leave-to {
  opacity: 0;
  transform: scale(.3);
}

.zoom-fade-right-enter-active,
.zoom-fade-right-leave-active {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 0% 50%;
}

.zoom-fade-right-enter-from {
  opacity: 0;
  transform: scale(0.1);
}

.zoom-fade-right-leave-to {
  opacity: 0;
  transform: scale(.3);
}


.zoom-fade-rb-enter-active,
.zoom-fade-rb-leave-active {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 0% 100%;
}

.zoom-fade-rb-enter-from {
  opacity: 0;
  transform: scale(0.1);
}

.zoom-fade-rb-leave-to {
  opacity: 0;
  transform: scale(.3);
}


.zoom-fade-bl-enter-active,
.zoom-fade-bl-leave-active {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 0% 0%;
}

.zoom-fade-bl-enter-from {
  opacity: 0;
  transform: scale(0.3);
}

.zoom-fade-bl-leave-to {
  opacity: 0;
  transform: scale(.1);
}

.zoom-fade-bottom-enter-active,
.zoom-fade-bottom-leave-active {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 50% 0%;
}

.zoom-fade-bottom-enter-from {
  opacity: 0;
  transform: scale(0.1);
}

.zoom-fade-bottom-leave-to {
  opacity: 0;
  transform: scale(.3);
}


.zoom-fade-br-enter-active,
.zoom-fade-br-leave-active {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 100% 0%;
}

.zoom-fade-br-enter-from {
  opacity: 0;
  transform: scale(0.1);
}

.zoom-fade-br-leave-to {
  opacity: 0;
  transform: scale(.3);
}
