@import "./common/variables.scss";
@import "./mixins/mixin.scss";

@include b(table) {
  width: 100%;
  position: relative;
  border-collapse: collapse;
  display: flex;
  border-spacing: 0;

  th,
  td {
    padding: 8px;
    text-align: left;
    font-size: 14px;
    box-sizing: border-box;
  }

  td {
    border-bottom: 0.01rem solid $grey-3;
    margin: 0px;
  }

  .is-fixed-header {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include e(inner) {
    width: 100%;
    overflow: auto;

    @include scroll();

    table {
      width: 100%;
    }

    @include b(table-column) {
      transition: background-color 0.2s ease;
      &:hover {
        @include b(table-cell){
          background: $grey-2 !important;
        }
      }
    }

    @include b(table-empty) {
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 550;
      border-bottom: 1px solid $grey-3;

      i {
        font-size: 36px;
      }

      div {
        margin-top: 5px;
      }
    }
  }

  @include e(header) {
    font-weight: bold !important;
    background-color: #f2f3f5;

    @include b(table-cell) {
      background-color: $grey-2 !important;
    }
  }

  @include b(table-cell) {
    z-index: 1;
    background-color: #fff;

    @include when(filter){
     display: flex;
     justify-content: space-between;

     @include b(icon-filter){
      margin-left: 5px;
      cursor: pointer;
     }
    }

    @include when(sort) {
      .sort-wrapper {
        position: relative;
        vertical-align: middle;
        display: inline-block;
        width: 24px;
        height: 26px;

        .u-icon-arrow-up-filling,
        .u-icon-arrow-down-filling {
          position: absolute;
          font-size: 14px;
          left: 2px;
          color: $grey-6;
          cursor: pointer;

          @include when(active) {
            color: $--color-primary;
          }

          &:hover {
            color: $--color-primary;
          }
        }

        .u-icon-arrow-up-filling {
          top: 0;
        }

        .u-icon-arrow-down-filling {
          bottom: 0;
        }
      }
    }

    @include when(fixed-left) {
      position: sticky;
      z-index: 2;

      @include when(shadow) {
        &::before {
          content: "";
          position: absolute;
          width: 10px;
          bottom: 0px;
          top: 0px;
          overflow: hidden;
          touch-action: none;
          pointer-events: none;
          box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.15);
          right: -10px;
        }
      }
    }

    @include when(fixed-right) {
      position: sticky;
      z-index: 1;
      @include when(shadow) {
        &::before {
          content: "";
          position: absolute;
          width: 10px;
          bottom: 0px;
          top: 0px;
          overflow: hidden;
          touch-action: none;
          pointer-events: none;
          box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.15);
          left: -10px;
        }
      }
    }

    @include when(hidden-shadow) {
      &::before {
        box-shadow: none !important;
      }
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
}

@include b(table-filter){
  padding: 5px;

  @include e(btns){
    display: flex;
    margin-top: 10px;
    button{
      margin-right: 5px;
    }
  }
}
