@import "../common/variables.scss";

@mixin b($block) {
    $B: $namespace+$block;
    .#{$B}{
        @content;
    }
}

@mixin when($state) {
    @at-root {
        &.#{$state-prefix + $state} {
            @content;
        }
    }
}

@mixin m($modifier) {
    @at-root {
        #{&+$modifier-separator+$modifier} {
            @content;
        }
    }
}
@mixin e($element) {
    @at-root {
        #{&+$element-separator+$element} {
            @content;
        }
    }
  }

@mixin button-type($color,$backgound-color,$border-color){
    color: $color;
    background-color: $backgound-color;
    border-color:$backgound-color;
}

@mixin res($key, $map: $--breakpoints) {
    // 循环断点Map，如果存在则返回
    @if map-has-key($map, $key) {
        @media only screen and #{inspect(map-get($map, $key))} {
            @content;
        }
    }
  }
