:root {
  --c-brand: #165DFF;
  --c-brand-light: #165DFF;
}

.sidebar-link-item{
  font-weight: 400 !important;
  line-height: 28px !important;
  font-size: 16px !important;
}

.sidebar-link-item.active{
  background-color: #e6f7ff !important;
}

p.sidebar-link-item{
  font-size: 14px !important;
}

p.sidebar-link-item::after{
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  background-color: #f0f0f0;
  margin-bottom:5px;
}


th {
  border:none !important;
}

td {
  border:none !important;
}


table{
  border-collapse:separate;
}


/* &::-webkit-scrollbar {
  width : 2px;  
  height: 1px;
 }
 &::-webkit-scrollbar-thumb {
   border-radius: 2px;
   background: $grey-3;
 }
 &::-webkit-scrollbar-track {
   background: rgba(255, 255, 255, 0.2);
 } */
